# An attempt to fix the db

### The error:

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 12: invalid continuation byte

### First occurance:

When executing:

    cur.execute("SELECT ID, NOMBRE FROM DEPARTAMENTOS;")
    x = cur.fetchall()
    dict_prov = dict((v, k) for k, v in x)
    print(dict_prov)

### Location:

The error ocurred when invoking the name.

The id of the dept didn't triggered the error.

The following name ---> id triggered the error.

    Tía Rosa             ---> 25
    Tostadas Norteñas    ---> 36
    Treviño              ---> 23
    Peñafiel             ---> 20

### Strange:

> The main program of this db has no problem with the db

> I used that command for over 4 months without having any problem.

> Out of the blue it started throwing the error

> I never manipulated the dept table in my program

> A lot of the broken desc in the prod table I've never manipulated

> Is as if the default encoding of the db changed all of a sudden

> The problem presents on ñ, accents, backtick (`), and fraccion symbols (1/2)

### First Fix:

Hard-coding the name of the department fixed the issue:

    cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 20;", ('Peñafiel'.encode("utf-8"),) )
    cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 23;", ('Treviño'.encode("utf-8"),) )
    cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 25;", ('Tía Rosa'.encode("utf-8"),) )
    cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 36;", ('Tostadas Norteñas'.encode("utf-8"),) )
    con.commit()

### Extending the fix to the rest of the db...

In [1]:
# CONNECT "localhost:C:/Users/casa/Desktop/DB-Helper/PDVDATA.FDB" user 'SYSDBA' password 'masterkey';
import pandas as pd
import fdb
import datetime
import sys

In [2]:
con = fdb.connect(dsn="localhost:C:/Users/casa/Desktop/DB-Helper/PDVDATA.FDB", user='SYSDBA', password='masterkey')
cur = con.cursor()

In [3]:
# Trigger the error first
cur.execute("SELECT ID, NOMBRE FROM DEPARTAMENTOS;")
x = cur.fetchall()
dict_prov = dict((v, k) for k, v in x)
print(dict_prov)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 2: invalid continuation byte

##### Fixing the dept table first

In [4]:
cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 20;", ('Peñafiel'.encode("utf-8"),) )
cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 23;", ('Treviño'.encode("utf-8"),) )
cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 25;", ('Tía Rosa'.encode("utf-8"),) )
cur.execute( "UPDATE DEPARTAMENTOS SET NOMBRE = ? WHERE ID = 36;", ('Tostadas Norteñas'.encode("utf-8"),) )
con.commit()

In [5]:
# The same command no error
cur.execute("SELECT ID, NOMBRE FROM DEPARTAMENTOS;")
x = cur.fetchall()
dict_prov = dict((v, k) for k, v in x)
print(dict_prov)

{'- Sin Departamento -': 3, 'Sin Departamento': 2, 'Productos Comunes': 5, 'Bimbo Blanco': 6, 'Bimbo Dulce': 7, 'Barcel': 8, 'Sabritas': 9, 'Leo': 10, 'Encanto': 11, 'Bokados': 12, 'Marinela Pastel': 13, 'Ricolino': 14, 'Lala': 15, 'Coca-Cola': 16, 'Pepsi': 17, 'Bonafont Botella': 18, 'bonafon garrafon (Eliminado 08/12/2022)': 19, 'Peñafiel': 20, 'valle (Eliminado 08/12/2022)': 21, 'Gamesa': 22, 'Treviño': 23, 'tang (Eliminado 08/12/2022)': 24, 'Tía Rosa': 25, 'Tostitos': 26, 'Sigma': 27, 'Verdura': 28, '59 (Eliminado 08/12/2022)': 29, 'Del Valle': 30, 'Pall Mall': 31, 'Bonafont Garrafon': 32, 'Varios': 33, 'Bimbo Totopos': 34, 'Marinela Galleta': 35, 'Tostadas Norteñas': 36, 'Especias': 37, 'Hielati': 38, 'Kinder': 39, 'Marlboro': 40}

In [23]:
# Other locations that trigger the error (productos table)
total_rows = 0
cur.execute("SELECT * FROM PRODUCTOS;")
err_count = 0
err_indexes = []
for i in range(10000):
    try:
        x = cur.fetchone()
        #print(x)
        if not x:
            print('The end of records. Index : ---> ', i)
            total_rows = i
            break
    except Exception as err:
        err_count += 1
        err_indexes.append(i)
        #print('Error on index ---> ', i)
        #print('The error ---_> ', err)
        continue
print('the error count ----> ', err_count)
print('the error indexes -----> ', err_indexes)

The end of records. Index : --->  6476
the error count ---->  192
the error indexes ----->  [86, 168, 237, 312, 419, 420, 472, 489, 490, 491, 538, 739, 740, 743, 783, 808, 809, 810, 812, 816, 934, 976, 1066, 1260, 1324, 1327, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1510, 1512, 1530, 1534, 1566, 1625, 1684, 1803, 1834, 1865, 1866, 1913, 1915, 1931, 1950, 2174, 2461, 2468, 2469, 2496, 2497, 2498, 2544, 2549, 2590, 2593, 2594, 2755, 2822, 2875, 2876, 2955, 2966, 2967, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2990, 2991, 2992, 2993, 2994, 2995, 2997, 3000, 3001, 3003, 3026, 3033, 3041, 3042, 3044, 3046, 3050, 3054, 3055, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3142, 3216, 3265, 3379, 3430, 3431, 3446, 3455, 3605, 3678, 3757, 3820, 3851, 3874, 3886, 3949, 4063, 4126, 4231, 4298, 4394, 4395, 4486, 4571, 4618, 4649, 4667, 4691, 4713, 4744, 4757, 4916, 4974, 5049, 5064, 5275, 5307, 5362, 5406, 5419, 5426, 5493, 5540, 5593, 5599, 5673, 5754, 5776, 5793, 5806, 5833, 5862, 5884, 5947, 6000, 6015, 6023, 6091, 6131, 6152, 6163, 6203, 6290, 6294, 6345, 6346, 6366, 6386, 6387, 6398, 6399, 6401, 6417, 6449, 6464, 6467]

In [24]:
# Get the codes where possible
cur.execute("SELECT CODIGO FROM PRODUCTOS")
code_err = []
bad_code = []
for i in range(total_rows):
    try:
        x = cur.fetchone()
        if i in err_indexes:
            code_err.append(x[0])
    except:
        print('bad code on index ---> ', i)
        bad_code.append(i)
print('the code where desc is broken ----> ', code_err)

bad code on index --->  2875
bad code on index --->  3886
the code where desc is broken ---->  ['7501073841246', '7501059200012', '56100012399', '7501005136860', '7501000133031', '7501000154005', '7501000113095', '7501030492955', '7501000113033', '7501000112609', '7501621050038', '7501011395213', '7501003123114', '7501003123213', '7501017005314', '7503006910036', '7501003128331', '7501052476209', '7503006910074', '7501017050765', '7501002600425', '21136019148', '7501041204479', '7501017003167', '7501017005345', '7501025414009', '7501025408152', '7501025408282', '7501025408411', '7501025408718', '7501025413019', '7501025414153', '7501025413002', '7501025408251', '7501025408435', '7501025409555', '7501025409548', '7501003152077', '7501017004416', '7501017042289', '7501002663963', '7501000636129', '38287086004', '7501020511956', '7501056900854', '34000313051', '8018190024098', '8018190024104', '7501017050741', '7501017004003', '7501441612126', '75011635', '7501040490279', '7501017006199', '7501017005291', '7501017004195', '7501017005093', '7501003336323', '7501017005109', '7501000150434', '7501000656868', '7501017005840', '7501003150264', '7501017005369', '7501184600077', '7501001128852', '7501017361083', '7501000153503', '7501073831940', '7501073800939', '7501073830523', '7501073830530', '7501073830554', '7501073830578', '7501073830585', '7501073831155', '7501073831162', '7501073831179', '7501073831209', '7501073831223', '7501073831551', '7501073831575', '7501073831582', '7501073831599', '7501073836549', '7501198350456', '7501073830059', '7501073830097', '7501073830103', '7501073831995', '7501073825079', '7501073831971', '7501073831919', '78000063523', '7501073800946', '7501073800915', '7501073800922', '7501073831889', '7501073831476', '7501031323906', '7501031349623', '7501031311798', '7501031360017', '7501031346653', '7501071120206', '7501007701301', '751425609124', '751425609162', '7501000390885', '7501003125309', '7501017003396', '7501017003334', '7503000054217', '58897091205', '759686101128', '7501011315273', '7501017005611', '7501017004027', '7501011103313', '7501017006083', '7501017003204', '7501017005079', '7501017005123', '70662140055', '840004088006', '7501000144303', '7501054951346', '690528000011', '7501054906186', '7501003125323', '7501000232963', '7501040091421', '706460243963', '724611552511', '7501073839311', '7501073839335', '7501044806014', 'RO', '7501073840331', '7622210253637', '7501073840379', '7501032395834', '7501073840355', '7501020543056', '7501073840188', '7501032396282', '7502256350029', '7501025440343', '7622210254610', '7501073841253', '7501030459330', '757528025489', '7501073841901', '7501073842274', '758104005635', '7501073800854', '7501020554946', '7501073842670', '7501024004072', '7501198353105', '7501073842717', '7501198355109', '7500478014576', '7501025440381', '758104007097', '7501017006915', '7501055367443', '7503012608002', '7503030374309', '7500463998928', '7501073838352', 'R90217', '7500478024971', '7501441615127', '7503031361940', '7501058635372', '7503018023137', '7500326103360', '75076405', '7503031287479', 'cam', 've', 'vd', 't1', 't2', 'td', 'ja', '7500810014004', '7622210572974', '7503023836135']

In [25]:
# Make sure the errors are on the desc and not somewhere else
desc_err_count = 0
for code in code_err:
    cur.execute("SELECT DESCRIPCION FROM PRODUCTOS WHERE CODIGO = ?;", (code,))
    try:
        x = cur.fetchone()
        print('no error on desc from code --->', code)
    except:
        desc_err_count += 1
print('Is the desc error count the same as the  length of the code err list? ---> ', (desc_err_count == len(code_err)))
print('The total number of errors: ', err_count)
print('The number of errors on description: ', desc_err_count)
print('The number of errors on code: ', len(bad_code))

Is the desc error count the same as the  length of the code err list? --->  True
The total number of errors:  192
The number of errors on description:  190
The number of errors on code:  2

#### 321 Errors... 

I can lower that number a bit by referencing another db

In [16]:
excel_df = pd.read_excel('Provedores Todos.xlsm', sheet_name='Datos', index_col=0, na_values='--', skipfooter=10, usecols='A:AB')

c:\Users\casa\miniconda3\envs\test1\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [17]:
excel_df

,Provedor,Descripción,Producto,Subtotal,Costo Unitario,IVA,IEPS,Descuento,Total,Precio al Público,...,DiferenciaM,Última Rev. Costos,Última Rev. Precios,Clave Provedor,Código de Barras,Código SuperFuentes,Biblia,DiferenciaB,MargenB,Sugerido
Num. De Registro,,,,,,,,,,,,,,,,,,,,,
1,Barcel,Chips Jalapeño 50g.,Chips Jalapeño,13.222,14.27976,0.0,1.05776,0.0,14.27976,18.0,...,-0.008953,2023-03-11,2023-01-09,125121,"7501000264773, 757528028985, 757528042608",NaN,12.6036,1.67616,0.428163,17
2,Barcel,Chips Sal 50g.,Chips Sal,13.222,14.27976,0.0,1.05776,0.0,14.27976,18.0,...,-0.008953,2023-03-11,2023-01-09,127920,"757528042592, 7501000264049, 7500810005019",NaN,12.6036,1.67616,0.428163,17
3,Barcel,Chips Adobadas 60g.,Chips Adobadas 60g.,13.222,14.27976,0.0,1.05776,0.0,14.27976,18.0,...,-0.008953,2023-03-11,2023-01-09,NaN,7503028643745,NaN,12.6036,1.67616,0.428163,17
4,Barcel,Chips Fuego 50g.,Chips Fuego,13.222,14.27976,0.0,1.05776,0.0,14.27976,18.0,...,-0.008953,2023-03-11,2023-01-09,127943,"7503030199681, 7500810005491",NaN,12.6036,1.67616,0.428163,17
5,Barcel,Chips Habanero 50g.,Chips Habanero,13.222,14.27976,0.0,1.05776,0.0,14.27976,18.0,...,0.260525,2023-03-11,NaT,128471,7500810004999,NaN,NaN,14.27976,NaN,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1104,Verdura,Pepino Kg.,Pepino Kg.,18.000,18.00000,0.0,0.00000,0.0,18.00000,46.0,...,0.555556,2022-05-26,2023-01-09,NaN,NaN,pe,16.0000,2.00000,1.875000,NaN
1105,Verdura,Repollo Kg.,Repollo Kg.,12.000,12.00000,0.0,0.00000,0.0,12.00000,28.0,...,0.000000,2022-05-26,2023-01-09,NaN,NaN,re,9.0000,3.00000,2.111111,NaN
1106,Verdura,Serrano Kg.,Serrano Kg.,23.000,23.00000,0.0,0.00000,0.0,23.00000,82.0,...,-0.347826,2022-05-26,2023-01-09,NaN,NaN,se,17.0000,6.00000,3.823529,NaN
1107,Verdura,Tomate Kg.,Tomate Kg.,31.000,31.00000,0.0,0.00000,0.0,31.00000,39.0,...,-0.341935,2022-05-26,2023-01-09,NaN,NaN,to,11.0000,20.00000,2.545455,NaN
1108,Verdura,Zanahoria Kg.,Zanahoria Kg.,14.000,14.00000,0.0,0.00000,0.0,14.00000,21.0,...,0.000000,2022-05-26,2023-01-09,NaN,NaN,za,13.0000,1.00000,0.615385,NaN

In [18]:
excel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108 entries, 1 to 1108
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Provedor             1108 non-null   object
 1   Descripción          1108 non-null   object
 2   Producto             1108 non-null   object
 3   Subtotal             1020 non-null   float64
 4   Costo Unitario       1107 non-null   float64
 5   IVA                  1107 non-null   float64
 6   IEPS                 1107 non-null   float64
 7   Descuento            1107 non-null   float64
 8   Total                1107 non-null   float64
 9   Precio al Público    1091 non-null   float64
 10  Margen               1017 non-null   float64
 11  Utilidad Unitaria    1106 non-null   float64
 12  Utilidad por pedido  1106 non-null   float64
 13  Piezas               1107 non-null   float64
 14  Costos anteriores    969 non-null    float64
 15  DiferenciaC          1108 non-null   float64
 16  Margen Anterior      963 non-null    float64
 17  DiferenciaM          1012 non-null   float64
 18  Última Rev. Costos   983 non-null    datetime64[ns]
 19  Última Rev. Precios  1058 non-null   datetime64[ns]
 20  Clave Provedor       525 non-null    object
 21  Código de Barras     934 non-null    object
 22  Código SuperFuentes  64 non-null     object
 23  Biblia               911 non-null    float64
 24  DiferenciaB          1108 non-null   float64
 25  MargenB              895 non-null    float64
 26  Sugerido             605 non-null    object
dtypes: datetime64[ns](2), float64(18), object(7)
memory usage: 212.1+ KB

In [26]:
fixed_count = 0
fixed_codes = []
for index, row in excel_df.iterrows():
    if pd.notna(row['Código de Barras']):
        if isinstance(row['Código de Barras'], str):
            x = row['Código de Barras'].split(',')
            for num in x:
                num = num.strip()
                for code in code_err:
                    if num == code:
                        #print('the cur count bef', cur.rowcount)
                        cur.execute( "UPDATE PRODUCTOS SET DESCRIPCION = ? WHERE CODIGO = ?;", (row['Producto'].encode('utf-8'), num.encode('utf-8')) )
                        #print('the cur count aft', cur.rowcount)
                        if cur.rowcount > 0:
                            print('Fixed ----> ', num)
                            fixed_count += 1
                            fixed_codes.append(num)
                        else:
                            print('Could not update ----> ', num)
        else :
            num = str(row['Código de Barras'])
            for code in code_err:
                if num == code:
                    cur.execute( "UPDATE PRODUCTOS SET DESCRIPCION = ? WHERE CODIGO = ?;", (row['Producto'].encode('utf-8'), num.encode('utf-8')) )
                    if cur.rowcount > 0:
                        print('Fixed ----> ', num)
                        fixed_count += 1
                        fixed_codes.append(num)
                    else:
                        print('Could not update ----> ', num)
    if pd.notna(row['Código SuperFuentes']):
        num = str(row['Código SuperFuentes']).upper()
        for code in code_err:
            if num == code:
                cur.execute( "UPDATE PRODUCTOS SET DESCRIPCION = ? WHERE CODIGO = ?;", (row['Producto'].encode('utf-8'), num.encode('utf-8')) )
                if cur.rowcount > 0:
                    print('Fixed ----> ', num)
                    fixed_count += 1
                    fixed_codes.append(num)
                else:
                    print('Could not update ----> ', num)
print('the fix count ----> ', fixed_count)
print('the fixed codes ----> ', fixed_codes)

Fixed ---->  7503023836135
Fixed ---->  7622210572974
the fix count ---->  2
the fixed codes ---->  ['7503023836135', '7622210572974']

In [27]:
# Update error counts
cur.execute("SELECT * FROM PRODUCTOS;")
err_count = 0
err_indexes = []
for i in range(total_rows):
    try:
        x = cur.fetchone()
        #print(x)
        if not x:
            print('The end of records. Index : ---> ', i)
            break
    except Exception as err:
        err_count += 1
        err_indexes.append(i)
        #print('Error on index ---> ', i)
        #print('The error ---_> ', err)
        continue
print('the error count ----> ', err_count)
print('the error indexes -----> ', err_indexes)

the error count ---->  190
the error indexes ----->  [86, 168, 237, 312, 419, 420, 472, 489, 490, 491, 538, 739, 740, 743, 783, 808, 809, 810, 812, 816, 934, 976, 1066, 1260, 1324, 1327, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1510, 1512, 1530, 1534, 1566, 1625, 1684, 1803, 1834, 1865, 1866, 1913, 1915, 1931, 1950, 2174, 2461, 2468, 2469, 2496, 2497, 2498, 2544, 2549, 2590, 2593, 2594, 2755, 2822, 2875, 2876, 2955, 2966, 2967, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2990, 2991, 2992, 2993, 2994, 2995, 2997, 3000, 3001, 3003, 3026, 3033, 3041, 3042, 3044, 3046, 3050, 3054, 3055, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3142, 3216, 3265, 3379, 3430, 3431, 3446, 3455, 3605, 3678, 3757, 3820, 3851, 3874, 3886, 3949, 4063, 4126, 4231, 4298, 4394, 4395, 4486, 4571, 4618, 4649, 4667, 4691, 4713, 4744, 4757, 4916, 4974, 5049, 5064, 5275, 5307, 5362, 5406, 5419, 5426, 5493, 5540, 5593, 5599, 5673, 5754, 5776, 5793, 5806, 5833, 5862, 5884, 5947, 6000, 6015, 6023, 6091, 6131, 6152, 6163, 6203, 6290, 6294, 6345, 6346, 6366, 6386, 6387, 6398, 6399, 6401, 6417, 6449]

In [28]:
cur.execute("SELECT DESCRIPCION FROM PRODUCTOS;")
err_count = 0
err_indexes = []
for i in range(total_rows):
    try:
        x = cur.fetchone()
        #print(x)
        if not x:
            print('The end of records. Index : ---> ', i)
            break
    except Exception as err:
        err_count += 1
        err_indexes.append(i)
        #print('Error on index ---> ', i)
        #print('The error ---_> ', err)
        continue
print('the error count ----> ', err_count)
print('the error indexes -----> ', err_indexes)

the error count ---->  189
the error indexes ----->  [86, 168, 237, 312, 419, 420, 472, 489, 490, 491, 538, 739, 740, 743, 783, 808, 809, 810, 812, 816, 934, 976, 1066, 1260, 1324, 1327, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1510, 1512, 1530, 1534, 1566, 1625, 1684, 1803, 1834, 1865, 1866, 1913, 1915, 1931, 1950, 2174, 2461, 2468, 2469, 2496, 2497, 2498, 2544, 2549, 2590, 2593, 2594, 2755, 2822, 2875, 2876, 2955, 2966, 2967, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2990, 2991, 2992, 2993, 2994, 2995, 2997, 3000, 3001, 3003, 3026, 3033, 3041, 3042, 3044, 3046, 3050, 3054, 3055, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3142, 3216, 3265, 3379, 3430, 3431, 3446, 3455, 3605, 3678, 3757, 3820, 3851, 3874, 3949, 4063, 4126, 4231, 4298, 4394, 4395, 4486, 4571, 4618, 4649, 4667, 4691, 4713, 4744, 4757, 4916, 4974, 5049, 5064, 5275, 5307, 5362, 5406, 5419, 5426, 5493, 5540, 5593, 5599, 5673, 5754, 5776, 5793, 5806, 5833, 5862, 5884, 5947, 6000, 6015, 6023, 6091, 6131, 6152, 6163, 6203, 6290, 6294, 6345, 6346, 6366, 6386, 6387, 6398, 6399, 6401, 6417, 6449]

In [29]:
# Get the codes where possible
cur.execute("SELECT CODIGO FROM PRODUCTOS")
code_err = []
bad_code = []
for i in range(total_rows):
    try:
        x = cur.fetchone()
        if i in err_indexes:
            code_err.append(x[0])
    except:
        print('bad code on index ---> ', i)
        bad_code.append(i)
print('the code where desc is broken ----> ', code_err)

bad code on index --->  2875
bad code on index --->  3886
the code where desc is broken ---->  ['7501073841246', '7501059200012', '56100012399', '7501005136860', '7501000133031', '7501000154005', '7501000113095', '7501030492955', '7501000113033', '7501000112609', '7501621050038', '7501011395213', '7501003123114', '7501003123213', '7501017005314', '7503006910036', '7501003128331', '7501052476209', '7503006910074', '7501017050765', '7501002600425', '21136019148', '7501041204479', '7501017003167', '7501017005345', '7501025414009', '7501025408152', '7501025408282', '7501025408411', '7501025408718', '7501025413019', '7501025414153', '7501025413002', '7501025408251', '7501025408435', '7501025409555', '7501025409548', '7501003152077', '7501017004416', '7501017042289', '7501002663963', '7501000636129', '38287086004', '7501020511956', '7501056900854', '34000313051', '8018190024098', '8018190024104', '7501017050741', '7501017004003', '7501441612126', '75011635', '7501040490279', '7501017006199', '7501017005291', '7501017004195', '7501017005093', '7501003336323', '7501017005109', '7501000150434', '7501000656868', '7501017005840', '7501003150264', '7501017005369', '7501184600077', '7501001128852', '7501017361083', '7501000153503', '7501073831940', '7501073800939', '7501073830523', '7501073830530', '7501073830554', '7501073830578', '7501073830585', '7501073831155', '7501073831162', '7501073831179', '7501073831209', '7501073831223', '7501073831551', '7501073831575', '7501073831582', '7501073831599', '7501073836549', '7501198350456', '7501073830059', '7501073830097', '7501073830103', '7501073831995', '7501073825079', '7501073831971', '7501073831919', '78000063523', '7501073800946', '7501073800915', '7501073800922', '7501073831889', '7501073831476', '7501031323906', '7501031349623', '7501031311798', '7501031360017', '7501031346653', '7501071120206', '7501007701301', '751425609124', '751425609162', '7501000390885', '7501003125309', '7501017003396', '7501017003334', '7503000054217', '58897091205', '759686101128', '7501011315273', '7501017005611', '7501017004027', '7501011103313', '7501017006083', '7501017003204', '7501017005079', '7501017005123', '70662140055', '840004088006', '7501000144303', '7501054951346', '690528000011', '7501054906186', '7501003125323', '7501000232963', '7501040091421', '706460243963', '724611552511', '7501073839311', '7501073839335', '7501044806014', 'RO', '7501073840331', '7622210253637', '7501073840379', '7501032395834', '7501073840355', '7501020543056', '7501073840188', '7501032396282', '7502256350029', '7501025440343', '7622210254610', '7501073841253', '7501030459330', '757528025489', '7501073841901', '7501073842274', '758104005635', '7501073800854', '7501020554946', '7501073842670', '7501024004072', '7501198353105', '7501073842717', '7501198355109', '7500478014576', '7501025440381', '758104007097', '7501017006915', '7501055367443', '7503012608002', '7503030374309', '7500463998928', '7501073838352', 'R90217', '7500478024971', '7501441615127', '7503031361940', '7501058635372', '7503018023137', '7500326103360', '75076405', '7503031287479', 'cam', 've', 'vd', 't1', 't2', 'td', 'ja', '7500810014004']

In [30]:
# Delete on code:
del_list = ['7501073841246', '7501059200012', '56100012399', '7501005136860', '7501000133031', '7501000154005', '7501000113095', '7501030492955', '7501000113033', '7501000112609', '7501621050038', '7501011395213', '7501003123114', '7501003123213', '7501017005314', '7503006910036', '7501003128331', '7501052476209', '7503006910074', '7501017050765', '7501002600425', '21136019148', '7501041204479', '7501017003167', '7501017005345', '7501025414009', '7501025408152', '7501025408282', '7501025408411', '7501025408718', '7501025413019', '7501025414153', '7501025413002', '7501025408251', '7501025408435', '7501025409555', '7501025409548', '7501003152077', '7501017004416', '7501017042289', '7501002663963', '7501000636129', '38287086004', '7501020511956', '7501056900854', '34000313051', '8018190024098', '8018190024104', '7501017050741', '7501017004003', '7501441612126', '75011635', '7501040490279', '7501017006199', '7501017005291', '7501017004195', '7501017005093', '7501003336323', '7501017005109', '7501000150434', '7501000656868', '7501017005840', '7501003150264', '7501017005369', '7501184600077', '7501001128852', '7501017361083', '7501000153503', '7501073831940', '7501073800939', '7501073830523', '7501073830530', '7501073830554', '7501073830578', '7501073830585', '7501073831155', '7501073831162', '7501073831179', '7501073831209', '7501073831223', '7501073831551', '7501073831575', '7501073831582', '7501073831599', '7501073836549', '7501198350456', '7501073830059', '7501073830097', '7501073830103', '7501073831995', '7501073825079', '7501073831971', '7501073831919', '78000063523', '7501073800946', '7501073800915', '7501073800922', '7501073831889', '7501073831476', '7501031323906', '7501031349623', '7501031311798', '7501031360017', '7501031346653', '7501071120206', '7501007701301', '751425609124', '751425609162', '7501000390885', '7501003125309', '7501017003396', '7501017003334', '7503000054217', '58897091205', '759686101128', '7501011315273', '7501017005611', '7501017004027', '7501011103313', '7501017006083', '7501017003204', '7501017005079', '7501017005123', '70662140055', '840004088006', '7501000144303', '7501054951346', '690528000011', '7501054906186', '7501003125323', '7501000232963', '7501040091421', '706460243963', '724611552511', '7501073839311', '7501073839335', '7501044806014', 'RO', '7501073840331', '7622210253637', '7501073840379', '7501032395834', '7501073840355', '7501020543056', '7501073840188', '7501032396282', '7502256350029', '7501025440343', '7622210254610', '7501073841253', '7501030459330', '757528025489', '7501073841901', '7501073842274', '758104005635', '7501073800854', '7501020554946', '7501073842670', '7501024004072', '7501198353105', '7501073842717', '7501198355109', '7500478014576', '7501025440381', '758104007097', '7501017006915', '7501055367443', '7503012608002', '7503030374309', '7500463998928', '7501073838352', 'R90217', '7500478024971', '7501441615127', '7503031361940', '7501058635372', '7503018023137', '7500326103360', '75076405', '7503031287479', 'cam', 've', 'vd', 't1', 't2', 'td', 'ja', '7500810014004']
for code in del_list:
    cur.execute("DELETE FROM PRODUCTOS WHERE CODIGO = ?;", (code.encode('utf-8'),))

In [34]:
# Update error counts
cur.execute("SELECT * FROM PRODUCTOS;")
err_count = 0
err_indexes = []
for i in range(total_rows):
    try:
        x = cur.fetchone()
        #print(x)
        if not x:
            print('The end of records. Index : ---> ', i)
            total_rows = i
            break
    except Exception as err:
        err_count += 1
        err_indexes.append(i)
        #print('Error on index ---> ', i)
        #print('The error ---_> ', err)
        continue
print('the error count ----> ', err_count)
print('the error indexes -----> ', err_indexes)
print('total_rows -->', total_rows)

the error count ---->  2
the error indexes ----->  [2809, 3757]
total_rows --> 6288

In [44]:
cur.execute("SELECT DESCRIPCION FROM PRODUCTOS;")
err_desc = []

for i in range(total_rows):
    try:
        x = cur.fetchone()
        for err in err_indexes:
            if i == err:
                print('description on faulty index --->', x, i)
                err_desc.append(x[0])
    except:
        print('error in --->', i)

print('the descript ---> ', err_desc)

# The error triggered on:
#   CODIGO
#   DESCRIPCION
#   CHECADO_EN
#   TVENTA

error in ---> 2809
description on faulty index ---> ('tostileo',) 3757
the descript --->  ['tostileo']

In [55]:
cur.execute("SELECT PVENTA FROM PRODUCTOS;")
err_desc = []

for i in range(total_rows):
    try:
        x = cur.fetchone()
        for err in err_indexes:
            if i == err:
                print('description on faulty index --->', x, i)
                err_desc.append(x[0])
    except:
        print('error in --->', i)

print('the descript ---> ', err_desc)

# The error triggered on:
#   CODIGO
#   DESCRIPCION
#   CHECADO_EN
#   TVENTA

description on faulty index ---> (3.0,) 2809
description on faulty index ---> (2.5,) 3757
the descript --->  [3.0, 2.5]

In [ ]:
for i in total_rows:
    for j in err_indexes:
        if i == j:
            cur.execute()